# Python for Engineers and Scientists
by Rafael Silva

# PART 1
# Section 2: Fundamentals

In this section we see the basic syntax of Python. Typically, students from STEM (science, technology, engineering and mathematics) courses already have the basic knowledge of logic and algorithms. Said that, the objective of this section is to remember these concepts and training Python syntax in practice.

## 2.1 - built-in types

<br/>

| type | Description|
|:-- | :-- |
|int|integer number|
|float|real number with 16 digits precision|
|str|text|
|bool|boolean type (True or False)| 

<br/>

#### Syntax of built-in types

```python
>>> int_number = 1
>>> real_number1 = 1.
>>> real_number2 = 1.1
>>> text_variable1 = 'Python'
>>> text_varible2 = "Python"
>>> bool_type = True
# The values are stored inside the variables and the hashtag line is a comment. 
```

### First functions

<br/>

| Function | Description |
| :-- | :-- |
| print() | print a value on the screen|
| input()                  | returns a **string** given by the user |
| int(), float(), str() | converts the type |
| type()                   | returns the type of the object |

## 2.2 - Basic math operations

<br/>

### Operations and functions

<br/>

| Symbol | Description |
| :-- | :-- |
| + | sum |
| - | subtraction |
| \* | multiplication |
| /| division |
| // | integer part of the division |
| % | rest of the integer division |
| \*\* | power |
| += | adds to the variable |
| \*= | multiply to the variable |
| abs() | returns the absolute value|
| complex(re, im) | returns a complex number|
| round(x\, \[n\])| round the value for a given precision |

<br/>

#### Syntax of complex numbers

```python
>>> x_complex = 1 + 1j
```

**note:**

<pre> The complex is also a built-in type.</pre>

In [5]:
a = (5+1) * 3
print(a)

18

In [7]:
7 // 2

3

In [8]:
7 % 2

1

In [11]:
2 ** 3

8

In [15]:
b = 0
b += 2
b += 1
print(b)

3

In [17]:
c = 1
c *= 2
c *= 3
print(c)

6

In [21]:
d = -5 + 3
d = abs(d)
print(d)

2

In [25]:
e = 1j
e**2

(-1+0j)

In [29]:
f = 1.123456
print(round(f, 2))

1.12

## 2.3 - Basic operations with strings (texts)

<br/>

### Operations and functions

<br/>

| Symbol | Type |Description |
| :-- | :-- | :-- |
| + | operator |sum or concatenate texts |
| \* | operator |multiplies a text by a integer number |
| len() | built-in function|checks the length of the string |


<br/>

**note:**

<pre> '\n' is a special character to break a line </pre>
<pre> strings are indexable </pre>

In [40]:
a = 'My name is '
b = 'Rafael '
print(a+b)

My name is Rafael

In [41]:
'-' * 15

'---------------'

In [43]:
c = a + b
len(c)

18

In [45]:
d = '-' * 25
print(len(d))

25

In [52]:
e = 'My name is Rafael. I\'m 32'
print(e)

My name is Rafael. I'm 32

## 2.4 Boolean values (*bool*)

Stores a **True** or **False** variable. Boolean values can be used directly, generated by comparisons or generated by a function.

<br/>

### Comparisons

<br/>

| Comparison | Description |
| :-- | :-- |
| < | Less than |
| <= | Less or equal than |
| > | bigger than |
| >= | bigger or equal than |
| == | equan than |
| != | different than |

<br/>

**nota**:
<pre> If we convert booleans to numbers we have 1 for True and 0 for False </pre>
<pre> Attention when comparing real numbers. Prefer using the close function </pre>
<pre> There are other ways of obtain boolean values like the function isinstance() or using **in** or **is**</pre>

In [128]:
a = 5 >= 3
print(a)

True

In [131]:
b = 5.1
c = 'python'
b > c

TypeError: '>' not supported between instances of 'float' and 'str'

In [134]:
a = 'python'
b = 'Python'

a != b

True

In [138]:
bool(0)

False

In [140]:
int(False)

0

In [144]:
a = 0.3
b = 0.1 + 0.1 + 0.1

a == b

False

In [145]:
from math import isclose

In [146]:
isclose(a, b)

True

## 2.5 Collections
Collections are containers. They are objects that store values.

<br/>

### Built-in types

<br/>

| Type | Description | 
| :-- | :-- |
| list | An indexable sequence |
| tuple | An imutable sequence|
| set | elements are not indexed and do not repeat themselfs  |
| dict | Dictionnaries are indexed by keys |

<br/>

#### syntaxe:
```python
>>> number = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] # list
>>> vowels = ('a', 'e', 'i', 'o', 'u') # tuple
>>> decimals_digits = {0,1,2,3,4,5,6,7,8,9} # set
>>> roman_numerals = {'I':1,"II":2,'III':3,'IV':4,'V':5,'X':10} # dict
```

## Lists

In [152]:
a = [1, 2, 3, 6, 8]
b = [3, 5, 8]
c = a + b

In [155]:
c

[1, 2, 3, 6, 8, 3, 5, 8]

In [159]:
c.append(10)
c

[1, 2, 3, 6, 8, 3, 5, 8, 10, 10]

## Tuple

In [165]:
a = (1, 2, 3, 'python', [2, 3])
a[3]

'python'

In [169]:
coordena = (0.1, 0.2, 'Brazil')
type(coordena)

tuple

## Conjuntos (set)

In [173]:
a = {1, 2, 'python', 1, 2}

In [174]:
a

{1, 2, 'python'}

## Dictionary

In [175]:
b = {'a':1, 'b':12}

In [179]:
b['b'] = 10

In [180]:
b

{'a': 1, 'b': 10}